

.dashboard_grid {
  display: flex;
  background-color: rgb(163, 226, 141);
  margin-inline: 3%;

  height: 100vh;

  text-align: center;
}

.programs_container {
  overflow-y: auto;
  background-color: rgb(41, 46, 45);
  margin: auto;
  height: 100vh;
  width: 70%;
  border-radius: 1%;
  margin-top: 30px;
  text-align: center;
  padding-bottom: 20px;
}

.programs_header {
  padding-top: 30px;
  font-size: xx-large;
}

.header_divider {
  border: 1px solid #cdcdcd9f;
  width: 90%;
  margin: auto;
}

.programs_layout {
  margin-bottom: 0px;
  text-align: center;
}

.programs_button {
  background-color: rgb(43, 74, 32);
  margin: 5px;
}

.programs_button:hover {
    background-color: rgb(81, 124, 90);
}