

.insertion_div {
    float:left; 
    display:inline; 
    width: 100%;
    margin-top: 90px;
}

.title_input {
    height: 20px;
    width: 50%;
    margin-left: 5px;
}

.post_button {
    display: flex;
    height: 50px;
    float: right;
    margin-right: 10%;
    background-color: aquamarine;
}

.button_text {
  margin: auto;
  color: black;
}